.afternoon-h1 {
  margin: 30px;
}

.afternoon-container {
  margin: 30px;
}

.afternoontea-image img {
  width: 100%;
}

.afternoontea-text a {
  text-transform: none;
  text-decoration: underline;
}
