.coffe-container {
  margin: 30px;
}

.coffe-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 5px 6px rgb(0 0 0 / 20%);
}

.coffe-container ul {
  padding: 0px;
}

.coffe-container li {
  list-style-type: none;
  padding-bottom: 10px;
}
