@media (max-width: 649px) {
  .logo-img {
    height: 80px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    padding: 0px;
    display: none;
    width: 100%;
  }

  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }

  .nav-ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.8em;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: none;
    background-color: white;
  }

  .hamburger-stripes {
    width: 45px;
    height: 4px;
    background-color: #839895;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .hamburger-stripes::before,
  .hamburger-stripes::after {
    content: "";
    position: absolute;
    right: 17px;
    width: 45px;
    height: 4px;
    background-color: #839895;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .hamburger-stripes::before {
    transform: translateY(-16px);
  }

  .hamburger-stripes::after {
    transform: translateY(16px);
  }

  .hamburger.open .hamburger-stripes {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .hamburger.open .hamburger-stripes::before {
    transform: rotate(45deg) translate(35px, -35px);
    left: 0px;
  }

  .hamburger.open .hamburger-stripes::after {
    transform: rotate(-45deg) translate(35px, 35px);
    left: 0px;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  .home-big-info-content {
    margin: 15px;
  }

  .home-small-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .homepage-intro,
  .about-container,
  .menu-container,
  .shop-container {
    max-width: 600px;
    margin: 70px auto;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 1.9em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.8em;
  }

  .nav-ul a {
    padding: 5px;
    font-size: 1em;
  }

  .home-big-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }

  .home-big-info-content {
    margin: 15px;
  }

  .home-small-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }

  .afternoon-container {
    display: flex;
    max-width: 1200px;
    margin: 10px auto;
  }

  .afternoontea-text {
    margin-left: 20px;
  }

  .afternoontea-image {
    margin-top: 20px;
  }

  .homepage-intro,
  .menu-container,
  .about-container,
  .shop-container {
    max-width: 600px;
    margin: 70px auto;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }
}
