.backgroundMenu {
  background: url(../images/menu1.jpg);
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-width: 100%;
}

.menuContainer {
  margin: 30px;
}
