.background-menu {
  background: url(../images/menu1.jpg);
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-width: 100%;
}

.menu-container {
  margin: 30px;
}

.menu-allergi {
  margin-top: 80px;
}